.product-card {
    width: 120px;
    margin: 20px;

  }

  .product-image {
    width: auto;
    height: 160px;
    border-radius:10px;
    width:120px;
  }
  
  .product-name {
    font-size: 12px;
    font-weight:bold;
    margin-bottom: 5px;
    margin-top:5px;
  }
  
  .product-description {
    margin-bottom: 5px;
  }
  
  .product-price {
    font-weight:bold;
    font-size: 12px;
    margin-top:0px;
    margin-bottom: 5px;
  }
  
  .add-to-cart-button {
    background-color: #CC87FE;
    color: #fff;
    border: none;
    font-size: 12px;
    font-weight:bold;
    cursor: pointer;
    height:32px;
    width: auto;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }