.product-card {
  width: 120px;
  margin: 0px;
}

.product-image {
  width: 120px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover; /* Обрезать и сохранять пропорции изображения */
  object-position: center;}
  
  .product-name {
    font-size: 12px;
    font-weight:bold;
    margin-bottom: 5px;
    margin-top:5px;
  }
  
  .product-description {
    margin-bottom: 5px;
  }
  
  .product-price {
    font-weight:bold;
    font-size: 12px;
    margin-top:0px;
    margin-bottom: 5px;
  }
  
  .button.open-detail-screen{
  width:120px}

  .add-to-cart-button:hover {
    background-color: #0056b3;
  }