.product-card {
  width: 160px;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.product-image {
  width: 150px;
  height: 130px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin:5px 2px 5px 2px;
}

.product-name {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 5px 5px;
  text-align:left;
}

.product-price {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 10px 5px;
  text-align:left;
}

.button.open-detail-screen {
  width: 120px;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
  color: #fff;
}

.product-card .button{
  width:98%;
  margin-bottom:2px;
}